@charset "UTF-8";
main .profile-information {
	margin-top: 36px;
	display: grid;
    width: 100%;
    height: 100%;
    margin: 36px auto;
    background: var(--main-color);
    border-radius: 10px;
    transition: all .3s ease;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px; */
}

.user-profile-cover {
    margin: 30px auto;
    width: 95%;
    height: 200px;
    border-radius: 20px;
    background: var(--main-color);
    
}

.user-profile-cover img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.inner-profile-group {
    display: grid;
    place-items: center;
    padding: 80px 0px; 
}

.user-profile-photo-group {    
    width: 200px;
    height: 200px;
    border-radius: 50%;     
    position: relative;
    overflow: hidden;
}

.user-profile-photo-group img {
    
    border: 1px solid #EEEEEE;
    width: 100%;
    height: 100%;
    background-color:white; 

}

/* Upload Profile Photo */

.profile-upload{
    position: absolute;
    bottom: 0px;
    outline: none;
    color: transparent;
    
    box-sizing: border-box;
    cursor: pointer;
    transition: all .5s ease;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.profile-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.profile-upload::before {
    content: '📷';
    margin-left: 80px;
    margin-bottom: 25px; 
    height: 35px;
    font-size: 35px;
    display: inline-block;
    color: var(--main-color);
    -webkit-user-select: none;
    user-select: none;
}

.profile-upload:hover {
    opacity: 1;
}
/* Upload Profile Photo */

.user-profile-headline-text {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}

.username-profile {    
	text-transform: lowercase;
	font-size: 40px;
    color: var(--secondary-dark-color);
    font-weight: 500;
    letter-spacing: 0.5px;
    display: block; 
}

.position-extra {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
}

.user-profile-headline-text i{
    margin-top: 20px;
    color: #EA4335;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .user-profile-cover {
        margin: 0px;
        width: 100%;
        height: 175px;
        border-radius: 10px 10px 0px 0px;
    }
    .username-profile {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1024px) {
    .user-profile-headline-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}

.user-information {
    display: flex;
    flex-direction: column;
    
}

.user-info-box {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 90%;
    margin: 0px auto;
    box-sizing: border-box;
    border: 1px solid var(--profile-border);
    color: var(--primary-dark-color);
    border-radius: 8px;
    word-break: break-word;
    word-wrap: break-word;
    transition: transform 0.3s ease;
}

.user-info-box table, .profile-img-group {
    width: 100%;
    padding: 24px 24px 0px 24px;
    text-align: left;
    line-height: 1.25rem;
    border: none;
}

.user-info-box-title {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 20px 0 10px 0px;
    align-self: center;
}

.take-info-notify-text {
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: 400;
    text-align: justify;
    color: var(--secondary-dark-color);
}

.user-info-box table tbody tr {
    height: 60px;
}

.user-info-body th, .form-title span, .see-whom {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-transform: none;
    color: var(--secondary-dark-color);
    margin: 0;
    padding: 0;
}

.user-info-body th {
    width: 30%;
}

.form-title {
    padding-bottom: 10px;
}

.user-info-body td{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: var(--primary-dark-color);
    margin: 0;
    padding: 0;
}

.user-info-body{
    border-collapse: collapse;
}

.info-content .user-info-box-title {
    color: white;
    line-height: 1.75rem;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word
}

.take-info-notify-text {
    font-size: 14px;
    text-align: justify;
}

.border {
    border-bottom: 1px solid var(--info-box-border);
    margin-left: 1px;
}

.border-top {
    border-top: 1px solid var(--info-box-border);
}

@media screen and (max-width: 768px) {
    .user-info-box {
        margin: 0px auto;
        width: 95%;
    }
}

.go-form {
    text-align: right;
}

.go-form i {
    cursor: pointer;
}

tr.form-row {
    display: none;
}

tr.form-row.open {
    display: table-row;
}

.edit-form {
    transition: 0.5s ease-in;
    padding: 20px 0px;
}

.input-box {
    width: 45%;
	height: 50px;
	margin: 20px 0px 0px 0px;
	position: relative;
}

.input-box.email {
    width: 100%;
}

.inputbox-border-bottom {
    border-bottom: 2px solid var(--hover-active-breadcrumbs-color);
}

.input-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

@media screen and (max-width: 1024px) {
    .input-box {
        width: 100%;
    }
    .input-box-container {
        flex-direction: column;
    }
    
}

.input-box input.text-input, .input-box select {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
    color: var(--secondary-dark-color);
    font-weight: 300;
    padding-left: 28px;
}

.input-box select {
    cursor: pointer;
}

.input-box select option {
    background: var(--main-color);
}

.input-box .input-label, .input-box .input-label.gender {
    margin-left: 28px;
    color: var(--tertinary-dark-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .3s ease;
}

.input-box .input-label.gender {
    margin-top: 2px;
    margin-left: 60px;
    font-size: 15px;
	letter-spacing: 1px;
    color: var(--secondary-dark-color);
    font-weight: 500;
}

.input-box input.text-input:focus~.input-label, .input-box input.text-input:valid~.input-label {
	top: -5px;
}

.input-box input[type="radio"].text-input:focus~.input-label, .input-box input[type="radio"].text-input:valid~.input-label {
	top: 50%;
}

.input-box input[type="radio"] {
    width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
    color: var(--secondary-dark-color);
    font-weight: 300;
    margin-left: 28px;
    margin-top: 16px;
}
.input-box select:focus ~ .input-label, .input-box select:valid ~ .input-label {
    top: -5px;
}

.input-box .icon {
	position: absolute;
	top: 13px;
	font-size: 19px;
	left: 0;
}

.common-form-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.common-form-text .see-what {
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-top: 30px;
}

.common-form-text .see-whom {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    letter-spacing: 0.5px;
}

.common-form-text .see-whom span {
    line-height: 20px;
}

.common-form-text .see-whom i {
    font-size: 24px;
}

.see-whom-loop {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.see-whom-loop span {
    color: var(--tertinary-dark-color);
    width: 100%;
}

.bd-extra-event {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.bd-extra-event input {
    cursor: pointer;
    width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
    margin-right: 16px;
}

@media screen and (max-width: 768px) {
    .see-whom-loop span {
        width: 100%;
    }
}

.margin-top-4 {
    margin-top: 40px;    
}

.margin-bottom-4 {
    margin-bottom: 40px;
}