<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title for the web page -->
    <title>VinnTrack - Reset Password</title>
    <!-- Link to the modal CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- Shortcut icon for the web page -->
    <link rel="shortcut icon" href="/assets/ico/logo.ico" type="image/x-icon">
    <link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!-- Links to style sheet files for styling -->
	<link rel="stylesheet" href="/assets/css/w3css.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/addForm.css">
	<link rel="stylesheet" href="/assets/css/authentication.css">
</head>
<body>
<div th:if="${session.forgotUser == null}">
		<script>
			window.location.href = '/forgotPassword';
		</script>
	</div>
    <!-- Container for the login section -->
    <div class="loginContainer" id="loginContainer">
        <!-- Section containing the reset password form -->
        <section class="createNewPasswordSection" id="createNewPasswordSection">
            <!-- Image box for branding -->
            <div class="imgBox">
                <img src="assets/img/changePassword.jpg" alt="">
            </div>
            <!-- Content box for the form -->
            <div class="contentBox">
                <!-- Form box for forgot password -->
                <div class="formBox">
                    <!-- Heading for the form -->                    
                    <h2 style="border: none;">Create new password</h2>
                    <div class="successBox">
                        <p>Your new password must be different from previous used passwords.</p>
                    </div>
                    <br>
                    <!-- Form for email input and submit button -->
                    <form th:action="@{/createPassword}" method="POST" th:object="${userDto}" class="createNewPasswordForm" name="createNewPasswordForm" id="createNewPasswordForm">
                        <div class="input-box inputbox-border-bottom address">
							<div class="icon">
								<i class="fa-solid fa-lock"></i>
							</div>
							<input type="password" name="password" id="password" required
								autocomplete="off" class="text-input" placeholder="Password" /> <label
								class="input-label" for="form-password" style="font-size: 16px;" th:field="${userDto.password}">Password</label>
						</div>
						<div class="input-box inputbox-border-bottom address">
							<div class="icon">
								<i class="fa-solid fa-lock"></i>
							</div>
							<input type="password" name="confirmPassword" id="confirmPassword" required
								autocomplete="off" class="text-input" placeholder="Confirm Password" /> <label
								class="input-label" for="form-confirmPassword" style="font-size: 16px;" th:field="${userDto.confirmPassword}">Confirm Password</label>
						</div>
						<br>
						<p style="color: var(--alert);" th:text="${error}"></p>
						<br>
                        <div class="inputBox button">                        	
					        <input class="otpBtn" type="submit" value="Save">
					    </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal for terms and conditions -->
    <div id="terms-and-condition-modal" class="w3-modal">
        <!-- Content of the terms and conditions modal -->
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <header class="w3-container w3-blue"> 
                <span onclick="closeTermsModal()" 
                class="w3-button w3-blue w3-xlarge w3-display-topright w3-hover-text-red">&times;</span>
                <h3>Terms and Conditions</h3>
            </header>

            ghgh
            <br>ghgh
            <br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh

            <div class="w3-container w3-white w3-padding">
                <button class="w3-right w3-green w3-border w3-margin-left btn btnAgree" 
                onclick="closeTermsModal()">Agree</button>
                <button class="w3-right w3-border btn btnCancel" onclick="closeTermsModal()">Cancel</button>
            </div>
        </div>
    </div>    
</body>
</html>