<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Title for the web page -->
<title>VinnTrack - Forget Password?</title>
<!-- Link to the modal CSS -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
	rel="stylesheet" />
<!-- Shortcut icon for the web page -->
<link rel="shortcut icon" href="/assets/ico/logo.ico" type="image/x-icon">
<!-- Links to style sheet files for styling -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link rel="stylesheet" href="/assets/css/w3css.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/addForm.css">
<link rel="stylesheet" href="/assets/css/authentication.css">
</head>
<body>
	<!-- Container for the login section -->
	<div class="loginContainer" id="loginContainer">
		<!-- Section containing the forgot password form -->
		<section class="forgotPasswordSection" id="forgotPasswordSection">
			<!-- Image box for branding -->
			<div class="imgBox">
				<img src="assets/img/forgotPassword.jpg" alt="">
			</div>
			<!-- Content box for the form -->
			<div class="contentBox">
				<!-- Form box for forgot password -->
				<div class="formBox">
					<!-- Heading for the form -->
					<h2 style="border: none;">Forgot Password?</h2>
					<p>Don't worry! It happens. Please enter the email address associated with your account.</p>
					<!-- Form for email input and submit button -->
					<form th:action="@{/forgotPassword}" th:object="${userDto}" method="POST" name="forgotPswForm"
						id="forgotPswForm">
						<div class="input-box inputbox-border-bottom address">
							<div class="icon">
								<i class="fa-solid fa-envelope"></i>
							</div>
							<input type="email" name="email" id="email" required="required"
								autocomplete="off" class="text-input" placeholder="Email" /> <label
								class="input-label" for="form-email" style="font-size: 16px;">Email</label>
						</div>
						<br>
						<p style="color: var(--alert);" th:text="${error}"></p>
						<br>
						<div class="inputBox button">
							<input type="submit" value="Send">
						</div>
					</form>
					<br>					
					<p>
						Remember your password? <a href="login">Back to Login</a>
					</p>
				</div>
			</div>
		</section>
	</div>

	<!-- Modal for terms and conditions -->
	<div id="terms-and-condition-modal" class="w3-modal">
		<!-- Content of the terms and conditions modal -->
		<div class="w3-modal-content w3-card-4 w3-animate-zoom">
			<header class="w3-container w3-blue">
				<span onclick="closeTermsModal()"
					class="w3-button w3-blue w3-xlarge w3-display-topright w3-hover-text-red">&times;</span>
				<h3>Terms and Conditions</h3>
			</header>

			ghgh <br>ghgh <br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh

			<div class="w3-container w3-white w3-padding">
				<button
					class="w3-right w3-green w3-border w3-margin-left btn btnAgree"
					onclick="closeTermsModal()">Agree</button>
				<button class="w3-right w3-border btn btnCancel"
					onclick="closeTermsModal()">Cancel</button>
			</div>
		</div>
	</div>
	<!-- Modal for privacy policy -->
	<div id="privacy-policy-modal" class="w3-modal">
		<!-- Content of the privacy policy modal -->
		<div class="w3-modal-content w3-card-4 w3-animate-zoom">
			<header class="w3-container w3-blue">
				<span onclick="closePolicyModal()"
					class="w3-button w3-blue w3-xlarge w3-display-topright w3-hover-text-red">&times;</span>
				<h3>Privacy and Policy</h3>
			</header>

			ghgh <br>ghgh <br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh<br>ghgh

			<div class="w3-container w3-white w3-padding">
				<button
					class="w3-right w3-green w3-border w3-margin-left btn btnAgree"
					onclick="closePolicyModal()">Agree</button>
				<button class="w3-right w3-border btn btnCancel"
					onclick="closePolicyModal()">Cancel</button>
			</div>
		</div>
	</div>
	<!-- Scripts for functionality -->
	<script src="js/loginScript.js"></script>
	<script src="js/loginModal.js"></script>
	<script src="js/forgotPasswordScript.js"></script>
	<script src="js/otpVerificationScript.js"></script>
</body>
</html>